@import url("./__container/comments__container.css");

.comments {
    margin-top: 102px;
}

@media (min-width: 375px) and (max-width: 767px) {
    .comments {
        margin-top: 64px;
    }
}
