.place__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    align-self: end;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .place__title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}
