.video__duration {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    z-index: 1;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__duration {
        margin-top: 17px;
    }
}
