@import url("./__item/photo-grid__item.css");

.photo-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 92px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .photo-grid {
        grid-gap: 14px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .photo-grid {
        /* grid-gap: 16px; */
        grid-template-columns: 1fr;
        margin-top: 64px;
        grid-gap: 15px;
    }
}
