.comment__quote {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 42px 0 0 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
    .comment__quote {
        width: 382px;
        order: 3;
        margin: 24px 0 0 0;
        font-size: 16px;
        line-height: 23px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .comment__quote {
        width: 100%;
        order: 3;
        margin: 24px 0 0 0;
        font-size: 16px;
        line-height: 23px;
    }
}
