.places {
    width: 985px;
    margin: 92px auto 0 auto;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .places {
        width: 100%;
        margin: 102px auto 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .places {
        width: 100%;
        margin: 102px auto 0 auto;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .places {
        width: 100%;
        margin: 64px auto 0 auto;
    }
}
