.place__image {
    width: 460px;
    height: 460px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .place__image {
        width: 100vw;
        height: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-top: 32px;
    }
}
