.cover__subtitle {
    position: absolute;
    bottom: 48px;
    left: 401px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 382px;
}
