.place__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__text {
        font-size: 16px;
        line-height: 27px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .place__text {
        margin-top: 24px;
        font-size: 16px;
        line-height: 27px;
    }
}
