@import url("./_first/video__item_first.css");
@import url("./_second/video__item_second.css");

.video__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 583px;
    height: 323px;
    border-radius: 5px;
    position: relative;
    padding: 30px;
    overflow: hidden;
}
.video__item:before {
    content: "";
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    opacity: 0.5;
}

.video__item:hover:before {
    opacity: 0.8;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .video__item {
        max-width: 456px;
        max-height: 288px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__item {
        max-width: 352px;
        max-height: 200px;
        padding: 24px;
    }
}
