.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
        width: 720px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
        margin-top: 8px;
    }
}
