.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s;
    color: #ffffff;
}

.footer__link:not(:first-child) {
    margin-left: 18px;
}

.footer__link:hover {
    opacity: 0.7;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}
