.lead__title {
    width: 782px;

    margin: 0 auto 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .lead__title {
        max-width: 684px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
        max-width: 720px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 335px;
    }
}
