@import url("./_type/_play/video__icon_type_play.css");

.video__icon {
    position: absolute;
    height: 41px;
    width: 41px;
    left: 30px;
    top: 30px;
}
@media (min-width: 768px) and (max-width: 1023px) {
    .video__icon {
        left: 25px;
        top: 25px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .video__icon {
        left: 24px;
        top: 24px;
    }
}

@media (max-width: 374px) {
    .video__icon {
        left: 24px;
        top: 24px;
    }
}