.lead__image {
  display: block;
  width: 984px;
  height: 554px;
  margin: 78px auto 0 auto;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .lead__image {
      width: 928px;
  }
}