.lead__image {
    display: block;
    width: 984px;

    margin: 78px auto 0 auto;
    object-fit: cover;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        width: 928px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__image {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
    }
}
