.video__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    margin: 18px 0 0 0;
    z-index: 1;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__subtitle {
        margin: 12px 0 0 0;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .video__subtitle {
        margin: 10px 0 0 0;
    }
}
