.footer__nav {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 375px) and (max-width: 767px) {
    .footer__nav {
        flex-direction: column;
    }
}

@media (max-width: 374px) {
    .footer__nav {
        flex-direction: column;
    }
}