.video__item_second {
    background: url("../../../../images/video2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 375px) and (max-width: 767px) {
    .video__item_second {
        margin-top: 8px;
    }
}
