@import url("./__nav/footer__nav.css");
@import url("./__copyright/footer__copyright.css");
@import url("./__link/footer__link.css");

.footer {
    margin-top: 160px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
